<div class="page-sidebar nav-collapse collapse">
  <!-- BEGIN SIDEBAR MENU -->        
  <ul class="page-sidebar-menu">
    <li>
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
      <div class="sidebar-toggler hidden-phone"></div>
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li class="start ">
      <a href="/aplicativos">
        <i class="icon-folder-open"></i> 
        <span class="title">Aplicativos</span>
      </a>
    </li>
    <li class="">
      <a href="/origens">
        <i class="icon-link"></i> 
        <span class="title">Integrações</span>
      </a>
    </li>
    <li class="last ">
      <a href="/utilizacao">
        <i class="icon-bar-chart"></i> 
        <span class="title">Utilização</span>
      </a>
    </li>
  </ul>
  <!-- END SIDEBAR MENU -->
</div>